@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Gender</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>