@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">Bir Hata Oluştur</div>
<div class="text-center lead">
	Aradığınız sayfa bulunamadı. <a asp-action="Index">Anasayfaya Dön</a>
</div>