<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Identity App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User != null && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a asp-controller="User" asp-action="Index" class="nav-link">User List</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="SignOut" class="nav-link active">Çıkış Yap</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Create" class="nav-link active">Kayıt Ol</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="SignIn" class="nav-link active">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container mt-2">
            @RenderBody()
        </div>
    </section>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
